[submodule "Client.js"]
	path = Client.js
	url = https://github.com/HacquesF/Client.js.git
[submodule "Server.js"]
	path = Server.js
	url = https://github.com/HacquesF/Server.js.git
[submodule "squid-in-a-can"]
	path = squid-in-a-can
	url = https://github.com/jpetazzo/squid-in-a-can.git
