[submodule "Client.js"]
	path = Client.js
	url = https://github.com/HacquesF/Client.js.git
[submodule "Server.js"]
	path = Server.js
	url = https://github.com/HacquesF/Server.js.git
[submodule "docker-squid"]
	path = docker-squid
	url = https://github.com/HacquesF/docker-squid.git
